<div fxLayout="column wrap" fxFlex=100 style="height: 100%;width: 100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
<div>
  <p>Hi</p>
</div>
  <!-- <form [formGroup]="dynamicQuestionGroup" *ngIf="dynamicQuestionGroup">

  </form> -->

    <!-- <form #form="ngForm">
        <div style="display: flex;">

        <div fxLayout="row wrap" [fxShow]="true" [fxHide]="false" class="width-5 margin-r-10">
        <mat-form-field [appearance]="'outline'">
          <input matInput type="text" name="otp1" ngModel required minlength="1" maxlength="1" #otp1>
        </mat-form-field>
        </div>

        <div fxLayout="row wrap" [fxShow]="true" [fxHide]="false" class="width-5 margin-r-10">
        <mat-form-field [appearance]="'outline'">
            <input matInput type="text" name="otp2" ngModel required minlength="1" maxlength="1" #otp2>
          </mat-form-field>
          </div>

          <div fxLayout="row wrap" [fxShow]="true" [fxHide]="false" class="width-5 margin-r-10">
          <mat-form-field [appearance]="'outline'">
            <input matInput type="text" name="otp3" ngModel required minlength="1" maxlength="1" #otp3>
          </mat-form-field>
          </div>

          <div fxLayout="row wrap" [fxShow]="true" [fxHide]="false" class="width-5 margin-r-10">
          <mat-form-field [appearance]="'outline'">
            <input matInput type="text" name="otp4" ngModel required minlength="1" maxlength="1" #otp4>
          </mat-form-field>
          </div>

        <div fxLayout="row wrap" [fxShow]="true" [fxHide]="false" class="width-5 margin-r-10">
            <mat-form-field [appearance]="'outline'">
              <input matInput type="text" name="otp5" ngModel required minlength="1" maxlength="1" #otp5>
            </mat-form-field>
            </div>


         <div fxLayout="row wrap" [fxShow]="true" [fxHide]="false" class="width-5 margin-r-10">
            <mat-form-field [appearance]="'outline'">
              <input matInput type="text" name="otp6" ngModel required minlength="1" maxlength="1" #otp6>
            </mat-form-field>
        </div>


          <div fxLayout="row wrap" [fxShow]="true" [fxHide]="false" class="width-5 margin-r-10">
            <mat-form-field [appearance]="'outline'">
              <input matInput type="text" name="otp7" ngModel required minlength="1" maxlength="1" #otp7>
            </mat-form-field>
            </div>


          <div fxLayout="row wrap" [fxShow]="true" [fxHide]="false" class="width-5 margin-r-10">
            <mat-form-field [appearance]="'outline'">
              <input matInput type="text" name="otp8" ngModel required minlength="1" maxlength="1" #otp8>
            </mat-form-field>
            </div>


          <div fxLayout="row wrap" [fxShow]="true" [fxHide]="false" class="width-5 margin-r-10">
            <mat-form-field [appearance]="'outline'">
              <input matInput type="text" name="otp9" ngModel required minlength="1" maxlength="1" #otp9>
            </mat-form-field>
            </div>

          <div fxLayout="row wrap" [fxShow]="true" [fxHide]="false" class="width-5 margin-r-10">
            <mat-form-field [appearance]="'outline'">
              <input matInput type="text" name="otp10" ngModel required minlength="1" maxlength="1" #otp10>
            </mat-form-field>
            </div> 
          </div> 

        <button mat-raised-button (click)="submit(form.value)">Submit</button>
      </form> -->
      
      
</div> 